<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876289046371-0usal196kdn9mj1p8k78qjn5b46e087h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876289046371-0usal196kdn9mj1p8k78qjn5b46e087h</string>
	<key>API_KEY</key>
	<string>AIzaSyAG0H37QSDvcRhj4XylZwMLOJSc-I9jDwg</string>
	<key>GCM_SENDER_ID</key>
	<string>876289046371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laci.systemleavesubmission</string>
	<key>PROJECT_ID</key>
	<string>laci-495ab</string>
	<key>STORAGE_BUCKET</key>
	<string>laci-495ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876289046371:ios:af566a7fbf1379ec934556</string>
</dict>
</plist>